<!DOCTYPE html>
<html lang="en" >

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>

<body>
    <div class="wrap">
        <form action="{{ url_for('search') }}" method="GET">
            <div class="search">
                <input type="text" class="searchTerm" name="movie_name" placeholder="Search for a movie title">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</body>
