<!DOCTYPE html>
<html lang="en" >

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>

<body>
    <div class="wrap">
        <form id="search_form" action="{{ url_for('search') }}" method="GET">
            <div class="search">
                <input type="text" class="searchTerm" name="query" placeholder="Search for a movie title">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</body>

<script>
    async function getRateCount(referenceNode) {
        url = "{{ url_for('user_rate_count')}}"
        out = await fetch(url);
        let n_ratings = await out.json();
        var body_ = document.querySelector('.wrap');
        let search = body_.querySelector(referenceNode);
        var div_ = document.createElement('div');
        div_.innerHTML = `<div class="genericText"> You have rated ${n_ratings} movies </div>`;
        body_.insertBefore(div_, search);
    }

    getRateCount('#search_form');
</script>
